<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://kit.fontawesome.com/17171b750a.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/estilo.css}">
<style>

.container {
	width: 25%;
	padding: 5px;
}

.link {
	width: 35%;
	margin-left: 15px;
}

a {
	text-decoration: none;
}

input, button {
	border-bottom: 1px solid black;
	margin: 5px;
}
</style>
<title>Gerenciamento de Alunos</title>
</head>
<body>

	<div class="container">
		<h1>Gerenciamento de Alunos</h1>

		<div class="container">
			<form id="form" action="#" th:action="@{/gravarAluno}" th:object="${aluno}" method="POST">
				<fieldset>
					<legend>Cadastrar</legend>
					<input type="text" th:field="*{nome}" placeholder="Nome do Aluno"> 
					<input type="text" th:field="*{sobrenome}" placeholder="Sobrenome do Aluno"> 
					<input type="email" th:field="*{email}" placeholder="Email do Aluno">
					<button type="submit">
						<i class="fas fa-save"> Gravar </i>
					</button>
				</fieldset>
			</form>
		</div>
	</div>
	<div class="link">
	<a th:href="@{/}"> Voltar para Lista de Alunos</a>
	</div>

</body>
</html>